<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar</title>
</head>

<body>
  <h1>Registro</h1>
  <form>
    <label for="username">Nombre de usuario</label>
    <input name="username" type="text" placeholder="nombre de usuario"><br>
    <label for="username">Contraseña</label>
    <input name="password" type="text" placeholder="contraseña"><br>
    <label for="address">Dirección</label>
    <input name="address" type="text" placeholder="dirección"><br>
    <input type="submit" value="Registrar">
  </form>
  <a href="/login">Login</a>

  <script src="/static/js/register.js"></script>
</body>

</html>