<h1>Sign in</h1>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" id="username" name="username" placeholder="username" autocomplete="on">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="password">
  </div>
  <button type="submit">Login</button>
</form>

<script src="/static/js/login.js"></script>