<h1>Actualización</h1>
<form enctype="multipart/form-data">
  <input type="text" name="alias" id="" placeholder="alias" value="{{alias}}" required>
  <input type="text" name="email" id="" placeholder="email" value="{{email}}" disabled>
  <input type="file" name="foto" id="">
  <button type="submit">Actualizar</button>
</form>

<script src="/static/js/actualizacion.js"></script>