<h1>Registro</h1>
<form enctype="multipart/form-data">
  <input type="text" name="alias" id="" placeholder="alias" required>
  <input type="text" name="email" id="" placeholder="email" required>
  <input type="file" name="foto" id="">
  <button type="submit">Registrar</button>
</form>

<script src="/static/js/registro.js"></script>