<h1>Reestablecer contraseña</h1>
<form>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" id="inputEmail" name="email" placeholder="email" autocomplete="on">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input id="inputPassword" name="password" type="password" placeholder="password">
  </div>
  <button type="submit">Reestablecer contraseña!</button>
</form>
<p>Ya la recordaste? Volvé a intentar el <a href="/login">login</a>.</p>

<script src="/static/js/resetpassword.js"></script>