<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <h1>Login</h1>
  <form action="/login" method="post">
    <label for="username">Nombre de usuario</label>
    <input name="username" type="text" placeholder="nombre de usuario"><br>
    <label for="username">Contraseña</label>
    <input name="password" type="text" placeholder="contraseña"><br>
    <input type="submit" value="Loguear">
  </form>
  <a href="/register">Registro</a>

  <script src="/static/js/login.js"> </script>
</body>

</html>