<div>
  <h1>Tu perfil (sin datos sensibles)</h1>
  <p>Nombre: <span id="user_nombre"></span></p>
  <p>Apellido: <span id="user_apellido"></span></p>
  <p>Correo electronico: <span id="user_email"></span></p>

  <form action="/logout" method="post">
    <button type="submit">Desloguearme!</button>
  </form>
</div>
<script src="/static/js/profile.js"></script>