<h1>Reestablecer contraseña</h1>
<form action="/resetpassword" method="post">
  <label for="email">email</label>
  <input type="email" name="email" placeholder="email"><br>
  <label for="password">password</label>
  <input name="password" type="password" placeholder="password"><br>
  <button type="submit">Reestablecer contraseña!</button>
</form>
<p>Ya la recordaste? Volvé a intentar el <a href="/login">login</a>.</p>
<script src="/static/js/resetpassword.js"></script>