<div style="display: none">
  <h1>Profile</h1>

  <ul>
    <li>Username: <span id="spanUsername"></span></li>
    <li>Full Name: <span id="spanfullName"></span></li>
    <li>Email: <span id="spanEmail"></span></li>
  </ul>

</div>
<script src="/static/js/profile.js"></script>