<div style="display: none">
  <h1>Tu perfil (sin datos sensibles)</h1>

  <ul>
    <li>Nombre: <span id="spanNombre"></span></li>
    <li>Apellido: <span id="spanApellido"></span></li>
    <li>Correo electronico: <span id="spanEmail"></span></li>
  </ul>

</div>
<script src="/static/js/profile.js"></script>