<h1>Registro</h1>
<form>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input name="nombre" type="text" placeholder="nombre" autocomplete="on"><br>
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input name="apellido" type="text" placeholder="apellido" autocomplete="on"><br>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" type="email" placeholder="email" autocomplete="on"><br>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" placeholder="password"><br>
  </div>
  <button type="submit">Registrarme!</button>
</form>

<script src="/static/js/register.js"></script>