<h1>Personas</h1>
<h2>Registo</h2>
<form>
  <input type="text" name="nombre" id="inputNombre" placeholder="Nombre">
  <input type="text" name="edad" id="inputEdad" placeholder="Edad">
  <button type="submit">Enviar</button>
</form>
<script src="/static/js/index.js"></script>