<h1>Modificá tus datos</h1>
<form>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input id="inputNombre" name="nombre" type="text" placeholder="nombre" autocomplete="on"><br>
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input id="inputApellido" name="apellido" type="text" placeholder="apellido" autocomplete="on"><br>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="inputEmail" readonly><br>
  </div>
  <button type="submit">Modificar!</button>
</form>

<script src="/static/js/edit.js"></script>