<h1>Login</h1>
<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="email" autocomplete="on"><br>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" placeholder="password"><br>
  </div>
  <button type="submit">Loguearme!</button>
</form>
<p>Olvidaste tu contraseña? Hacé click <a href="/resetpassword">aquí</a></p>
<p>Preferis identificarte con GitHub? Hacé click <a href="/githublogin">aquí</a></p>

<script src="/static/js/login.js"></script>