<footer>
  <nav>
    <ul>
      <li><a href="/registro">Registro</a></li>
      <li><a href="/usuarios">Usuarios</a></li>
      <li><a href="/publicaciones">Publicaciones</a></li>
    </ul>
  </nav>
</footer>