<h1>Inyección de cookies</h1>
<form>
    <label>Nombre</label> <input name="name"><br>
    <label>Correo electrónico</label> <input name="email"><br>
    <button type="submit">Guardar cookie</button>
</form>

<button id="btnGetCookie">getCookie</button>
<script src="/static/js/index.js"></script>