<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
  </head>

  <body>
    <h1>Jugeteria</h1>
    <form>
      <input type="text" name="nombre" id="nombre" placeholder="nombre" autocomplete="on">
      <input type="number" name="precio" id="precio" autocomplete="on">
      <button type="submit">Agregar</button>
    </form>
    <p>
    <div id="listaJuguetes"></div>
    </p>
    <script src="/static/js/home.js"></script>
  </body>

</html>