<h1>Login</h1>
<form>
  <label for="email">email</label>
  <input type="email" name="email" placeholder="email"><br>
  <label for="password">password</label>
  <input name="password" type="password" placeholder="password"><br>
  <button type="submit">Loguearme!</button>
</form>
<script src="/static/js/login.js"></script>