<h1>Login</h1>
<form action="/login" method="post">
  <label for="email">email</label>
  <input type="email" name="email" placeholder="email"><br>
  <label for="password">password</label>
  <input name="password" type="password" placeholder="password"><br>
  <button type="submit">Loguearme!</button>
</form>