<h1>Tu perfil (sin datos sensibles)</h1>
<p>Nombre: {{user.nombre}}</p>
<p>Apellido: {{user.apellido}}</p>
<p>Correo electronico: {{user.email}}</p>

<form action="/logout" method="post">
  <button type="submit">Desloguearme!</button>
</form>